body {
    font-size: 12px;
}
//Headings & text
h1, h2, h3, h4, h5, h6 {
    color: $darkGrey;
    font-family: $montserrat;
    line-height: 110%;
    margin-bottom: 5px;
}

h1 {
    font-family: $playball;
    font-size: 4em;
}

h2 {
    font-size: 3.33em;
}

h3 {
    font-size: 2.5em;
    color: $lightPink;
    font-family: $playball;
}

h4 {
    font-size: 2.08em;
}

h5 {
    font-family: $playball;
    color: $darkPink;
    font-size: 1.66em;
}

h6 {
    font-size: 1.5em;
}

a {
    color: $darkPink;
    border-bottom: 1px dotted $darkPink;
}

p {
    font-family: $arial;
    font-size: 1em;
    line-height: 14px;
    margin-bottom: 15px;
}

//Buttons
.btn {
    background: $darkPink;
    color: white;
    font-family: $playball;
    display: inline-block;

    &:hover {
        background: $lightPink;
        color: white;
    }
}

.btn-alt {
    background: white;
    border: 2px solid $darkPink;
    color: $darkPink;
}
