.footer-top {
    margin-top: 50px;
    background: $lightPeach;
    border-top: 6px solid $darkPeach;
    padding-top: 20px;
    overflow: hidden;
    padding-bottom: 30px;

    h5 {
        margin-bottom: 20px;
    }

    .section {
        float: left;
        ul {
            li {
               a {
                    color: $darkGrey;
                    border: 0px;
                    font-family: $montserrat;
                    font-size: 1em;

                    &:hover {
                        text-decoration: none;
                        color: $darkPink;
                    }

                    span {
                        width: 18px;
                        display: inline-block
                    }
                }
            }

            li + li {
                padding-top: 5px;
            }
        }   
    }

    .section#contact {
        width: 100%;
        max-width: 230px;
    }

    .section#products {
        width: 100%;
        max-width: 184px;
    }

    .section#help {
        width: 100%;
        max-width: 150px;
    }

    .section#careers {
        width: 100%;
        max-width: 180px;
    }

    .section#newsletter {
        width: 100%;
        float: right;
        max-width: 360px;
    }

    .newsletter-box {
        background: white;
        border-radius: 8px;
        border: 0px;
        position: relative;
        margin-bottom: 25px;

        input[type=text] {
            border: 0px;
            padding: 11px 55px 11px 11px;
            border-radius: 8px;
            font-family: $montserrat;
            text-transform: uppercase;
            font-size: 0.9em;
            width: 100%;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $lightGrey;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: $lightGrey;
        }

        :-ms-input-placeholder { /* IE 10+ */
            color: $lightGrey;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: $lightGrey;
        }

        a {
            font-size: 1.2em;
            border: 0px;
            background: $darkGrey;
            color: white;
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            font-family: $playball;
            -webkit-border-top-right-radius: 8px;
            -webkit-border-bottom-right-radius: 8px;
            -moz-border-radius-topright: 8px;
            -moz-border-radius-bottomright: 8px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            
            &:hover {
                text-decoration: none;
                background: $darkPink;
            }
        }
    }

    .social {
        li {
            display: inline;
            font-size: 25px;
        }

        li + li {
            margin-left: 10px;
        }
    }
}

.mobiletext, .cookie {
    display: none;
}

.footer-bottom {
    background: $lightPink;
    overflow: hidden;
    padding-bottom: 17px;

    .col-md-4 {
        float: left;
        width: 33.333%;
    }

    .head {
        text-align: center;

        img {
            max-width: 55px;
        }
    }

    .footer-content {
        padding-left: 15px;
        padding-top: 28px;
        color: white;

        p {
            font-family: $montserrat;
            margin-bottom: 6px;
        }

        .strapline {
            font-family: $playball;
            font-size: 1.4em;
        }

        li {
            display: inline;
            font-family: $montserrat;
            font-size: 1em;
            line-height: 1.35em;

            a {
                color: white;
                border: 0px;
            }
        }
    }
}

.footer-curve {
    background: $lightPeach;
    overflow: hidden;

    .col-md-4 {
        float: left;
        width: 33.333%;
    }

    .middle {
        padding: 0px;
    }

    .curve {
        display: block;
        width: 100%;
    }
}

.container.footer {
    max-width: 100%!important;
}

/* ---- Media Queries ---- */
@media (max-width: 1200px) {
    .footer-top {
        .section#newsletter {
            max-width: 300px;
        }

        .section#products, .section#help, .section#careers {
            max-width: 150px;
        }

        .section#contact {
            max-width: 160px;
        }
    }
}

@media (max-width: 985px ){
    .footer-top {
        .section#newsletter {
            max-width: 250px;
        }
    }
}

@media (max-width: 940px) {
    .footer-top {
        .section#careers, .section#help, .section#products {
            max-width: 135px;
        }
    }
}

@media (max-width: 900px ){
    .footer-top {
        .section#newsletter {
            max-width: 225px;
        }
    }
}

@media (max-width: 870px) {
    .footer-top {
        .section#careers, .section#products {
            max-width: 130px;
        }

        .section#contact {
            max-width: 145px;
        }

        .section#help {
            max-width: 125px;
        }
    }
}

@media (max-width: 840px) {
    .footer-top {
        .section#products, .section#help {
            max-width: 100px;
        }
    }
}

@media (max-width: 780px) {
    .footer-top {
        .section {
            ul {
                li {
                    a {
                        font-size: 0.8em;
                    }
                }
            }
        }

        .section#contact {
            max-width: 125px;
        }
    }
}

@media (max-width: 768px) {
    .footer-bottom {
        .col-md-4 {
            padding: 0px;
        }

        .footer-content {
            padding-bottom: 15px;

            li {
                font-size: 0.8em;
            }
        }

        .first {
            padding-left: 0px;
        }
    }
}

@media (max-width: 760px) {
    .footer-top {
        .section#careers {
            max-width: 110px;
        }
    }
}

@media (max-width: 740px) {
    .footer-top {
        .section {
            max-width: 25%!important;
        }

        .section#newsletter {
            width: 100%;
            max-width: 100%!important;
            float: left;
            margin-top: 20px;
        }
        
        .social {
            text-align: center;

            li + li {
                margin-left:0px;
            }

            li {
                margin: 8px!important;
                font-size: 35px;
            }
            
        }
    }
}

@media (max-width: 600px) {
    .mobiletext {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 20px;
        border-bottom: 1px solid $darkPeach;
        padding-bottom: 20px;

        span {
            display: inline;
            color: $darkGrey;
        }

        .mobile-strapline {
            font-family: $playball;
            font-size: 1.4em;
        }

        .mobile-copyright {
            font-family: $montserrat;
            font-size: 1em;
        }
    }

    .footer-bottom {
        .footer-content.last {
            display: none;
        }

        .footer-content {
            .strapline, .copyright {
                display: none;
            }
        }
    }

    .cookie {
        display: inline-block;

        a {
            color: white;
            border: 0px;
        }
    }
}

@media (max-width: 520px) {
    .footer-top {
        .section#contact, .section#products,
        .section#help, .section#careers {
            display: none;
        }

        .section#newsletter {
            margin-top: 0px;
        }
    }
}

@media (max-width: 400px) {
    .footer-top {
        h5 {
            display: none;
        }

        .newsletter-box {
            input[type=text] {
                padding: 20px 75px 19px 17px;
                font-size: 1em;
            }

            a {
                font-size: 1.4em;
                padding: 19px;
            }
        }
    }
}

@media (max-width: 365px) {
    .footer-bottom, .footer-curve {
        
        .col-md-4 {
            width: 33.333%!important;
        }
    }

    .container.footer {
        padding: 0px!important;
    }
}