.row {
    margin: 0px;
}

.col-sm-4 {
    padding: 0px;
}

.header {
    background: url('../../images/header-background.jpg') bottom left repeat-x $lightPink;
    display: inline-block;
    width: 100%;
    padding: 20px;

    img {
        display: block;
        margin: 0 auto;
        max-height: 40px
    }

    ul {
        float: left;
        margin-top: 6px;
        padding-top: 6px;

        li {
            display: inline;
            padding: 0 15px;

            a {
                color: white;
                text-decoration: none;
                font-family: $montserrat;
                font-size: 12px;
                text-transform: uppercase;
                border: 0px;
            }
        }

        li + li {
            border-left: 1px solid white;
        }
    }

    .fa-map-marker, .fa-flag {
        color: $darkGrey;
        font-size: 16px;
    }

    .fa-map-marker {
        margin-right: 10px;
    }

    .fa-shopping-bag {
        color: white;
    }

    .mobile-icon {
        display: none;
    }
}

/* ---- Search ---- */
.search {
    background: $lighterPink;
    border-radius: 5px;
    min-width: 160px;
    float: right;
    margin-top: 6px;
    position: relative;

    &::before {
        content: "\f002";
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        left: 7px;
        top: 7px;
        color: #fec7cd;
    }

    input[type=text] {
        width: 100%;
        float: right;
        padding: 0px;
        border:0px;
        background: transparent;
        text-transform: uppercase;
        font-size: 12px;
        font-family: $montserrat;
        color: #fec7cd;
        padding: 6px 6px 6px 25px;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fec7cd;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #fec7cd;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #fec7cd;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #fec7cd;
    }

    .fa {
        color: #fec7cd;
    }
}

.black-bar {
    background: black;
    text-align: center;
    color: white;
    padding: 9px;
    
    p {
        font-family: $montserrat;
        font-size: 14px;
        line-height: 120%;
        color: white;
        margin-bottom: 0px;
    }

    .fa {
        margin-right: 10px;
    }

    span {
        color: $darkPink;
    }

    a {
        color: $darkPink;
        text-decoration: underline;
        border: 0px;

        &:hover {
            color: $lightPink;
        }
    }
}

/* ---- MEDIA QUERIES ---- */
@media (max-width: 960px) {
    .search {
        min-width: 10px;
    }
}

@media (max-width: 892px) {
    .search {
        max-width: 140px;
    }
}

@media (max-width: 840px) {
    .col-sm-4.logo {
        max-width: 220px;
    }

    .header {
        .col-sm-4.textright {
            ul {
                width: 40%;
            }
        }
    }

    .search {
        width: 57%;
    }
}

@media (max-width: 810px) {
    .col-sm-4.logo {
        max-width: 190px;
    }
}

@media (max-width: 780px) {
    .col-sm-4.storelocator {
        max-width: 250px;
    }
}

@media (max-width: 740px) {
    .header {
        padding: 10px 20px;

        ul {
            li {
                padding: 0px;
            }
            li + li {
                border-left: 0px;
            }
        }

        .col-sm-4 {
            width: 33.333%;
            padding: 0px;
        }

        .mobile-icon {
            display: inline-block;
        }
    }
}