@import "variables";
@import "reset";
@import "fonts";
@import "defaults";
@import "header";
@import "navigation";
@import "product-carousel";
@import "footer";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.textcenter {
    text-align: center;
}

.body-container {
    background: url('../../images/body-background.jpg') top left repeat-x white;
}

//Hero content
.hero {
    background: url('../../images/pink-background.jpg') top center repeat-x #fddee9;
    background-position-x: center;
    background-position-y: center;
    padding: 0px; 

    img {
        position: absolute;
        bottom: -30px;
        max-width: 90%;
        right: 0;
    }

    .mobile-hero {
        display: none;
    }

    .content {
        padding: 15px;
        margin-top: 80px;
        margin-bottom: 50px;
    }
}

.brow-styling {
    background: #feccc4;
    margin-top: 40px;
    padding: 0px;
    overflow: hidden;
    max-width: 100%!important;

    img {
        width: 100%;
        display: block;
    }

    .hero-content {
        padding-top: 100px;
    }

    .col-md-6 {
        float: left;
        width: 50%;
    }
}

/* ---- MEDIA QUERIES ---- */
@media (min-width: 1020px) {
    .hero {
        img {
            bottom: -33px;
            max-height: 350px;
        }
    }
}

@media (max-width: 930px) {
    .brow-styling {
        .hero-content {
            padding-top: 80px;
        }
    }
}

@media (max-width: 880px) {
    .brow-styling {
        .hero-content {
            padding-top: 60px;
        }
    }
}

@media (max-width: 840px) {
    .hero {
        img {
            max-width: 100%;
        }

        .content {
            margin-top: 50px;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 820px) {
    .brow-styling {
        .hero-content {
            padding-top: 40px;
        }
    }
}

@media (max-width: 780px) {
    .brow-styling {
        .hero-content {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}

@media (min-width: 768px) {
    .container.hero {
        max-width: 100%!important;
    }
}

@media (max-width: 740px) {
    .mobile-hide {
        display: none!important;
    }

    .mobile-nav, .mobile-icon {
        margin-top: 10px;
        color: white;
        font-size: 18px;
    }

    .mobile-icon + .mobile-icon {
        margin-left: 18px;
    }

    .col-sm-4.logo {
        max-width: 33.33%;
    }

    .body-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .hero {
        img {
            max-width: 90%;
            bottom: -22px;
        }

        .content {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .brow-styling {
        padding-bottom: 320px;
        position: relative;

        .col-md-6 {
            width: 100%;
        }

        .text {
            order: 2;
        }

       .image {
            order: 1;
            text-align: center;
            position: absolute;
            bottom: 0;
        }
    }
}

@media (min-width: 576px) {
    .container.hero {
        max-width: 100%!important;

        .col-md-6 {
            width: 50%;
        }
    }
}

@media (max-width: 575px) {
    .hero {
        img {
            position: relative;
        }

        .content {
            text-align: center;
            margin-bottom: 30px;
        }

        .hero-img {
            order: 12;

            img {
                display: none;
            }
        }

        .mobile-hero {
            display: block!important;
            margin: 0 auto;
            max-width: 100%;
        }

        .hero-content {
            order: 1;
        }
    }
}

@media (max-width: 380px) {
    .brow-styling {
        padding-bottom: 280px;
    }
}

@media (max-width: 350px) {
    .brow-styling {
        padding-bottom: 250px;
    }
}

@media (max-width: 320px) {
    .brow-styling {
        padding-bottom: 220px;
    }
}