.navigation {
    nav {
        text-align: center;
        padding: 20px 0;

        ul {
            li {
                display: inline;
                font-family: $montserrat;
                color: $darkGrey;
                font-size: 12px;
                text-transform: uppercase;
                padding: 12px;

                a {
                    text-decoration: none;
                    color: black;
                    border: 0px;

                    &:hover {
                        color: $darkPink;
                    }
                }
            }
        }
    }
}

.mobile-nav {
    display: none;
}

/* ---- MEDIA QUERIES ---- */
@media (min-width: 768px) {
    .navigation {
        max-width: 100%;
        padding: 0px;
    }
}

@media (max-width: 935px) {
    .navigation {
        nav {
            ul {
                li {
                    padding: 8px;
                }
            }
        }
    }
}

@media (min-width: 872px) {
    .navigation {
        max-width: 100%;
    }
}

@media (max-width: 800px) {
    .navigation {
        nav {
            padding: 15px 0;
            ul {
                li {
                    font-size: 10px;
                    padding: 10px;
                }
            }
        }
    }
}

@media (max-width: 740px) {
    .mobile-nav {
        display: block;
    }

    .navigation {
        display: none;
    }
}