.product-carousel {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 100%!important;

    h3 {
        margin-bottom: 20px;
    }

    .banner {
        display: inline-block;
        width: 230px;
        margin-top: 15px;   
        margin-bottom: 5px;
    }

    .text-muted {
        color: $darkPink!important;

        &:hover {
            color: $lightPink!important;
        }
    }

    a {
        color: $darkPink;
        border: 0px;
        opacity: 1;

        &:hover {
            color: $lightPink;
        }
    }

    .carousel-inner {
        padding: 0 20px;
    }

    .product {
        position: relative;
        text-align: center;

        .image {
           img {
               max-width: 100%;
               height: 200px;
           }
        }

        span {
            display: block;
        }

        .rating {
            margin-bottom: 10px;
            .fa {
                color: #cccccc;
                font-size: 10px;
            }

            .fa.active {
                color: $darkPink;
                display: inline;
            }
        }

        .title, .desc, .price {
            font-family: $montserrat;
            font-size: 1em;
        }

        .title {
            color: $darkPink;
            font-weight: bold;
            margin-bottom: 18px;
        }

        .desc {
            color: $lightGrey;
            margin-bottom: 30px;
            font-size: 0.7rem;
        }

        .price {
            color: $darkPink;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .colour-choice {
            height: 20px;
            text-align: center;

            .choice {
                width: 20px;
                height: 20px;
                display: inline-block;
                border-radius: 4px;

                &:hover {
                    cursor: pointer;
                }
            }

            .one {
                background: $lightBrown;
                border: 2px solid white;
            }

            .two {
                background: $darkBrown;
                border: 2px solid white;
            }

            .active-colour {
                border: 2px solid #555555;
            }
        }
    }

    .carousel-control-next, .carousel-control-prev {
        width: auto;
    }

    .new-icon {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 0;
        left: 0;
    }
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}