// Colours
$darkPink: #f8396a;
$lightPink: #fd7482;
$lighterPink: #fd8995;

$darkPeach: #f6e8dd;
$lightPeach: #fdf3eb;

$darkGrey: #444444;
$lightGrey: #888888;

$darkBrown: #5c4744;
$lightBrown: #957766;

// Fonts
$montserrat: 'Montserrat', Arial, Helvetica, sans-serif;
$playball: 'Playball', cursive;
$arial: Arial, Helvetica, sans-serif;